@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  font-family: roboto;
  height: 100vh;
  overflow: hidden;
}

.map {
  z-index: -10;
  position: absolute;
  top: -44%;
  left: -147%;
}

.mapPage {
  top:0;
  left: 0;
}

.mapPic {
  width: 100vw;
}

.entrance__left {
  background: #000000;
  width: 484px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.entrance__left-logo {
  width: 192px;
  height: 228px;
}

.loginform {
  width: 280px;
  height: 330px;
  padding: 12px 92px;
  background: #ffffff;
  position: absolute;
  top: 22%;
  right: 10%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.registerform {
  width: 280px;
  height: 370px;
}

.loginform__title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

.loginform__form {
  display: flex;
  flex-direction: column;
}

.form-email-label, .form-pwd-label, .form-name-label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.form-email-input, .form-pwd-input, .form-name-input {
  margin-bottom: 8px;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid #E4E4E4;
  outline: none;
}

.form-email-input {
  margin-bottom: 14px;
}

.loginform__forgot {
  color: #828282;
  text-align: end;
  font-size: 12px;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.loginform__button {
  background: #FDBF5A;
  border-radius: 70px;
  padding: 16px;
  border: none;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 16px;
}

.loginform__register {
  color: #828282;
  font-size: 12px;
  text-align: center;
}

.loginform__register-link {
  text-decoration: none;
  color: #FDBF5A;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.header {
  background: #000000;
  display: flex;
  flex-direction: row;
  height: 102px;
  justify-content: space-between;
}

.header__left {
  margin-left: 26px;
  margin-top: 20px;
}


.header__right-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 50px;
  margin-top: 38px;
}

.header__right-item {
  margin-right: 38px;
}

.header__right-item:last-child {
  margin-right: 0;
}

.header__right-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  background: none;
  border: none;
  outline: none;
}

.header__right-link.link-active {
  color: #FDBF5A;
}

.hidden {
  display: none;
}